{% block report %}

    <div id="report-{{ s.server.id }}-{{ r.report.id }}" name="report-{{ s.server.id }}-{{ r.report.id }}">
        <div id="report_title" name="report_title">
            <h2>
                <a name="report-{{ s.server.id }}-{{ r.report.id }}">Report {{ r.report.title }}</a>&nbsp;
                <a href="{{ r.permalink }}">[direct link]</a>
            </h2>
        </div>

        {% for se in r.sections %}
            {% include "section.html" %}
        {% endfor %}
    </div>    

{% endblock %}
