{% block report %}

    <div id="report-{{ server.id }}-{{ report.id }}" name="report-{{ server.id }}-{{ report.id }}">
        <div id="report_title" name="report_title">
            <h2>
                <a name="report-{{ server.id }}-{{ report.id }}">Report {{ report.title }}</a>&nbsp;
                {% for reportid, permalink in reports.items %}
                    {% if reportid == report.id %}
                        <a href="{{ permalink }}">[direct link]</a>
                    {% endif %}
                {% endfor %}
            </h2>
        </div>

        {% for section in report.sections.all %}
            {% include "section.html" %}
        {% endfor %}
    </div>    

{% endblock %}
