{% block report %}

    <!-- block_report -->

        <table border="1">
            <tr>
                <td>
                    <h2>
                        Report {{ report.title }}&nbsp;
                        {% for reportid, permalink in reports.items %}
                            {% if reportid == report.id %}
                                <a href="{{ permalink }}">[direct link]</a>
                            {% endif %}
                        {% endfor %}
                    </h2>
                </td>
            </tr>
            {% for section in report.sections.all %}
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        {% include "section.html" %}
                    </td>
                </tr>
            {% endfor %}
        </table>    

    <!-- /block_report -->

{% endblock %}
