{% extends "base.html" %}

{% block title %}Servers{% endblock %}

{% block body %}

    {% if with_general_index %}
        <div id="general_index" name="general_index">
            <h1>Showing reports for:</h1>
            <ul>
                {% for s in servers %}
                    <li>
                        <a href="#server-{{ s.server.id }}">Server {{ s.server.name }}</a>
                        {% include "report-index.html" %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <hr />
    {% endif %}

    {% for s in servers %}
        <div id="server-{{ s.server.id }}" name="server-{{ server.id }}">
            <div id="reports_title" name="reports_title">
                <h1>
                    <a name="server-{{ s.server.id }}">Reports for server {{ s.server.name }}</a>&nbsp;
                    <a href="{{ s.permalink }}">[direct link]</a>
                </h1>
            </div>

            <div id="local_index" name="local_index">
                {% include "report-index.html" %}
            </div>

            {% for r in s.reports %}
                {% include "report.html" %}
            {% endfor %}
        </div>
    {% endfor %}        

{% endblock %}
