{% extends "base.html" %}

{% block title %}Reports for {{ server.name }}{% endblock %}

{% block body %}

<table border="1">

    <tr>
        <td>
            <h1>
                Reports for server {{ server.name }}&nbsp;
                <a href="{{ permalink }}">[direct link]</a>
            </h1>
        </td>
    </tr>

    {% for report in server.reports.all %}
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                {% include "report.html" %}
            </td>
        </tr>


    {% endfor %}
</table>

{% endblock %}
